#!/bin/sh

# PROVIDE: cloud_set_guest_password
# REQUIRE: LOGIN NETWORKING cleanvar
# KEYWORD: shutdown

. /etc/rc.subr

name="cloud_set_guest_password"
command="/usr/local/sbin/cloud_set_guest_password"
rcvar=cloudpasswd_enable

load_rc_config "${name}"

run_rc_command "$1"
